{% extends "base.html" %}

{% block title %}Airshine Insurance Services{% endblock %}

{% block content %}

<div class="container mt-5">
<div class="content-box">
    <div class="row">
        <div class="col-12 text-left">
            <h3 class="display-5">Travel Insurance Services</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
                         <img src="{{ url_for('static', filename='image/services/insurance-1.jpg') }}" alt="Insurance Providers" class="img-fluid rounded shadow-sm">

        </div>
        <div class="col-md-6">
            <p>Be it a trip with family or friends, safety and assurance are always at the back of our heads. It might be the sudden need for a medical emergency abroad or the loss of valuable items in your luggage.</p>
            <p>For that very reason, we have partnered with the best insurance providers in town to offer you optimal travel insurance policies to safeguard you from losses at affordable rates so that you can have a peaceful trip without worry.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>We are just a query away from getting your issues resolved. Please do inbox us at <a href="mailto:contact@airshineonline.com">contact@airshineonline.com</a> or contact us via WhatsApp to voice away your concerns!</p>
        </div>
    </div>
</div>
</div>


{% include 'contactform.html' %}


{% endblock %}