{% extends "base.html" %}

{% block title %}Airshine Visa Services{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="content-box">
        <div class="row">
            <div class="col-12 text-left">
                <h1 class="display-4">Visa Services</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <p>Airshine values Visa service as it is the most crucial gateway for experiencing international adventures. Sometimes, Visa seems to be the most suspenseful part of an international trip. It can make or break our plans.</p>
                <p>Our Visa experts are up to date with Visa regulations of all the hotspot destinations in the world to ensure that you get your Visas approved without any delays.</p>

            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='image/services/visa-1.jpg') }}" alt="Visa Services" class="img-fluid rounded shadow-sm">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 order-md-2">
                <p>You just have to enter your personal details, upload the required documents, and we'll take care of the rest. We will verify the documents and ensure that it is error-free. You'll receive your Visa within a week!</p>
                <p>Dedicated staff members are always at your disposal to solve any queries. Please do inbox us at <a href="mailto:contact@airshineonline.in">contact@airshineonline.in</a> or contact us via WhatsApp and let us know more about your requirements.</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="{{ url_for('static', filename='image/services/visa-2.jpg') }}" alt="Visa Experts" class="img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
</div>


{% include 'contactform.html' %}


{% endblock %}