    <div class="container mt-5 about-us-section">
        <div class="content-box">
        <div class="row">
            <div class="col-12 text-left">
                <h1 class="display-5">Our Story</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <p>Trichy Airshine Tours and Travels (P) Ltd, established in 1995 by Managing Director Mr. G. Mohan and Executive Director PMJF Lion G. Ravichandran, has grown from humble beginnings in Trichy to become a leading travel agency. Despite being newcomers to the industry, the founders embraced the challenge and developed tailor-made solutions to meet diverse customer needs. Their focus on exceptional customer experience allowed them to create a niche market and build a loyal customer base, leading to their expansion to Chennai within a year.</p>

                <p>With over 30 years of industry expertise, Trichy Airshine is now a veteran in the travel sector. We are proud to be accredited by the International Air Transport Association (IATA) and the Travel Agents Association of India (TAAI).</p>

                <p>Our success is built on core principles: dynamic leadership, creativity, integrity, vision for the future, and an unwavering commitment to excellence. These values have fostered a healthy work culture within Trichy Airshine and facilitated positive customer interactions. We are proud to have played a pivotal role in the evolution of the tourism industry in our state.</p>

                <p>Airshine Online is the digital extension of our services, bringing the convenience of a one-stop travel catalogue to your fingertips. We have embraced the fast-paced digital age, ensuring our services are easily accessible from any device, anywhere in the world.</p>

                <p>At Airshine, we are always delighted to be “Your Trustable Travel Partner” in all your adventures.</p>
            </div>
        </div>
    </div>
    </div>