{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container about-us-section">
        <div class="transparent-box">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h1>About Us</h1>
                <p class="lead">Discover the world with us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-us-content">
                    <h2>Our Story</h2>
                    <p>Founded in 2020, our travel company has been dedicated to providing unique and unforgettable travel experiences. We believe in exploring the world with a fresh perspective, bringing you closer to diverse cultures, breathtaking landscapes, and once-in-a-lifetime adventures.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-us-content">
                    <h2>Our Mission</h2>
                    <p>Our mission is to make travel accessible, enjoyable, and enriching for everyone. We strive to offer personalized travel solutions that cater to your unique interests and preferences, ensuring every journey is a memorable one.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center mb-5">
                <h2>Meet Our Team</h2>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='image/profile-1.jpg') }}" alt="Team Member 1">
                    <h5>John Doe</h5>
                    <p>Founder & CEO</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='image/profile-2.jpeg') }}" alt="Team Member 2">
                    <h5>Jane Smith</h5>
                    <p>Head of Operations</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='image/profile-3.jpeg') }}" alt="Team Member 3">
                    <h5>Michael Brown</h5>
                    <p>Chief Marketing Officer</p>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}