<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Airshine Tours and Travels{% endblock %}

{% block content %}




<div class="container mt-5">
    <div class="content-box">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">DUBAI 4N/5D</h1>
            <h2 class="text-primary">EXCLUSIVE DUBAI</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg/640px-Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg" class="card-img-top" alt="Destination Image" height="200" width="300"
                                    >

            <p class="lead">Eager to visit Dubai? Airshine’s exclusive itinerary highlights the city’s top spots:</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Day 1: Arrive at Dubai</h3>
            <ul>
                <li>Check-In at the hotel.</li>
                <li>A good night's sleep before the adventure begins.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Day 2: Guided City Tour | Dhow Cruise Dinner</h3>
            <p>After a hearty breakfast, you'll visit the buzzing Dubai city hotspots like the Burj Al Arab, Burj Khalifa, Rolex Twin Towers, and Jumeirah Mosque and take a peek into the history and heritage of Dubai at the Dubai Museum.</p>
            <p>In the evening, experience the blend of eating a delicious meal on a traditional dhow cruise and the enchanting view of the Dubai skyline under the fading sun. The mix of tradition and modernity of Dubai will be an evening to remember.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Day 3: Desert Safari with Dune Bashing | Tanura Show | Belly Dance & BBQ Dinner</h3>
            <p>A break away from the city lights and head on a safari into the sandy dunes of the Arabian desert. There are so many exciting activities planned to make your day. Then comes the adventure part of dune bashing. An expert driver will race you through the highs and lows of the dunes, which will be something you've never experienced before!</p>
            <p>After the adrenaline rush, cool yourselves by enjoying the Tanura show & a spicy BBQ dinner.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Day 4: Day Free at Leisure or Enjoy Optional Sightseeings</h3>
            <p>You can take a chill breather or visit some beautiful hotspots. You can visit the Dubai mall with its newest addition of Chinatown!</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Day 5: Departure from Dubai</h3>
            <ul>
                <li>After breakfast at the hotel</li>
                <li>Check out and transfer to the airport for your flight back home.</li>
            </ul>
        </div>
    </div>
    </div>
</div>


{% endblock %}