{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="b-content">
      <div class="form">
        <div class="form-wrap">
          <div class="form-content">
            <div class="f-c-head">
              Get in <span class="f-c-h-highlight">touch</span>
            </div>

            <div class="f-c-desc">
              Enim tempor eget pharetra facilisis sed maecenas adipiscing. Eu
              leo molestie vel, ornare non id blandit netus.
            </div>

            <form
              class="f-c-form"
              onsubmit="sendEmail(); reset(); return false;"
            >
              <div class="input-box w100">
                <input type="text" name="" id="f-c-form-name" required />
                <span>Contact name</span>
              </div>

              <div class="input-box w100">
                <input type="text" name="" id="f-c-form-street" required />
                <span>Street</span>
              </div>

              <div class="f-city-code">
                <div class="input-box w70">
                  <input type="text" name="" id="f-c-form-City" required />
                  <span>City</span>
                </div>

                <div class="input-box w30">
                  <input type="number" name="" id="f-c-form-Post" required />
                  <span>PostCode</span>
                </div>
              </div>

              <div class="input-box w100">
                <input type="text" name="" id="f-c-form-contact" required />
                <span>Contact Phone</span>
              </div>

              <div class="input-box w100">
                <input type="email" name="" id="f-c-form-email" required />
                <span>E-mail</span>
              </div>

              <div class="input-box w100">
                <input type="text" name="" id="f-c-form-idea" required />
                <span>Lets talk about your idea</span>
              </div>

              <div class="check-box">
                <input
                  type="checkbox"
                  name="terms"
                  id="f-c-form-terms"
                  required
                />
                <label for="terms"
                  >Apply to terms and conditions of airshine travels</label
                >
              </div>

              <div class="input-box w100 submit-button">
                <input type="submit" value="Submit" />
              </div>

              <div class="fc-reach">
                <div class="reach">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-phone.png') }}" alt="" />
                  </div>
                  <div class="content">
                    <div class="title">Phone</div>
                    <div class="value">111 111 111</div>
                  </div>
                </div>

                <div class="reach">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-mail.png') }}" alt="" />
                  </div>
                  <div class="content">
                    <div class="title">E-Mail</div>
                    <div class="value">info@company.com</div>
                  </div>
                </div>

                <div class="reach">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-mail.png') }}" alt="" />
                  </div>
                  <div class="content">
                    <div class="title">Helpdesk</div>
                    <div class="value">https://helpdesk.com</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="form-maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.130823742066!2d78.68833221471863!3d10.801290892304683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf510a408cb71%3A0x39e27f5a3c6f7320!2sTrichy%20Airshine%20Tours%20And%20Travels%20(P)%20Ltd.%2C!5e0!3m2!1sen!2sin!4v1679975313886!5m2!1sen!2sin"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>

        <div class="fc-reach fc-reach2">
          <div class="reach">
            <div class="icon">
              <img src="{{ url_for('static', filename='image/reach-phone.png') }}" alt="" />
            </div>
            <div class="content">
              <div class="title">Phone</div>
              <div class="value">111 111 111</div>
            </div>
          </div>

          <div class="reach">
            <div class="icon">
              <img src="{{ url_for('static', filename='image/reach-phone.png') }}" alt="" />
            </div>
            <div class="content">
              <div class="title">E-Mail</div>
              <div class="value">info@company.com</div>
            </div>
          </div>

          <div class="reach">
            <div class="icon">
              <img src="{{ url_for('static', filename='image/reach-mail.png') }}" alt="" />
            </div>
            <div class="content">
              <div class="title">Helpdesk</div>
              <div class="value">https://helpdesk.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}




