<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Airshine Tours and Travels{% endblock %}

{% block content %}
<!--    <div class="container-fluid full-width-container">-->
<!--        <img src="{{ url_for('static', filename='image/cover-image.jpg') }}" class="img-fluid">-->
<!--    </div>-->
<div class="container">

  <div class="content">


      <section id="popular-package" class="py-5">
    <div class="container">
      <div class="row w-100 h-100 transparent-box">
      <h2 class="text-left mb-4">Popular Packages</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQpIgZBGipAj8HWL5ei5h7En7DmyZFj8mp4WahH-EmtKYh-xd9aZhjMycgDxgQRKz6zc0ph3m3slnArdadkbpyQZ---vPpku4CDN2X55g" class="card-img-top" height="200" width="300" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Spain</h5>
              <p class="card-text">Description of Destination 1.</p>
              <a href="{{ url_for('main.spain') }}" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg/640px-Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg" class="card-img-top" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Dubai</h5>
              <p class="card-text">4 Nights/5 Days</p>
              <a href="{{ url_for('main.dubai') }}" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Destination 1</h5>
              <p class="card-text">Description of Destination 1.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <!-- Add more card items for additional destinations -->
      </div>
      </div>
    </div>
  </section>
  </div>
  <div class="content">
        <!-- Popular Destinations -->
      <section id="popular-destination" class="py-5">
    <div class="container">
      <div class="row w-100 h-100 transparent-box">
      <h2 class="text-left mb-4">Popular Destinations</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Destination 1</h5>
              <p class="card-text">Description of Destination 1.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Destination 1</h5>
              <p class="card-text">Description of Destination 1.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Destination Image">
            <div class="card-body">
              <h5 class="card-title">Destination 1</h5>
              <p class="card-text">Description of Destination 1.</p>
              <a href="#" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <!-- Add more card items for additional destinations -->
      </div>
      </div>
    </div>
  </section>
  </div>

      <div class="container mt-5 transparent-box">
        <div class="row">
                            <div class="col-md-4">
                                <h2>3 Decades of Experience</h2>
                                <p>Incorporated on November 3rd 1995, Airshine will always be our client’s ‘Trusted Travel Partner’.</p>
                            </div>
                            <div class="col-md-4">
                                <h2>2 Million + Satisfied Clients</h2>
                                <p>Airshine is the #1 Choice for our loyal clients in all their adventures.</p>
                            </div>
                            <div class="col-md-4">
                                <h2>100,000+ Outbound Tours</h2>
                                <p>One stop shop for Domestic & International outbound tours. Tailor made to your preferred destinations.</p>
                            </div>

            </div>
    </div>

</div>


<div class="container">

        <div class="s-images">
          <img
            class="s-image s-left-1"
            src="{{ url_for('static', filename='image/left1.png') }}"
            alt="Scenery"
          />
          <img
            class="s-image s-left-2"
            src="{{ url_for('static', filename='image/left2.png') }}"
            alt="Scenery"
          />
          <img
            class="s-image s-center"
            src="{{ url_for('static', filename='image/center.png') }}"
            alt="Scenery"
          />
          <img
            class="s-image s-right-1"
            src="{{ url_for('static', filename='image/right1.png') }}"
            alt="Scenery"
          />
          <img
            class="s-image s-right-2"
            src="{{ url_for('static', filename='image/right2.png') }}"
            alt="Scenery"
          />
        </div>

        <div class="s-controls">
          <div class="arrow">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
          <div class="s-button active"></div>
          <div class="s-button"></div>
          <div class="s-button"></div>
          <div class="s-button"></div>
          <div class="s-button"></div>
          <div class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
</div>

    <section class="contentP">

      <div class="content-para">
              <h2 class="head">Customer Feedbacks</h2>
        <div class="para-content">
          <span class="left-span">01</span>
          <div class="triangle-left"></div>
          <img src="{{ url_for('static', filename='image/para-1.png') }}" alt="" />
          <div class="para-content-text">
            <h2>Memories of life</h2>
            <div class="p-content">
              <div class="hl"></div>
              <div class="vl"></div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum
              </p>
            </div>
          </div>
        </div>

        <div class="para-content">
          <span class="right-span">02</span>
          <div class="triangle-right"></div>
          <img src="{{ url_for('static', filename='image/para-1.png') }}" alt="" />
          <div class="para-content-text">
            <h2>Memories of life</h2>
            <div class="p-content">
              <div class="hl"></div>
              <div class="vl"></div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum
              </p>
            </div>
          </div>
        </div>

        <div class="para-content">
          <span class="left-span p3">03</span>
          <div class="triangle-left"></div>
          <img src="{{ url_for('static', filename='image/para-1.png') }}" alt="" />
          <div class="para-content-text">
            <h2>Memories of life</h2>
            <div class="p-content">
              <div class="hl"></div>
              <div class="vl"></div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <div class="container about-us-section">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row transparent-box">
      <div class="col-md-6 d-flex align-items-center">
        <div class="form-wrap w-100">
          <div class="form-content">
            <div class="f-c-head">
              Get in <span class="f-c-h-highlight">touch</span>
            </div>
            <div class="f-c-desc">
              Enim tempor eget pharetra facilisis sed maecenas adipiscing. Eu leo molestie vel, ornare non id blandit netus.
            </div>
            <form class="f-c-form" onsubmit="sendEmail(); reset(); return false;">
              <div class="form-group">
                <label for="f-c-form-name">Contact name</label>
                <input type="text" class="form-control" id="f-c-form-name" required>
              </div>
              <div class="form-group">
                <label for="f-c-form-street">Street</label>
                <input type="text" class="form-control" id="f-c-form-street" required>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="f-c-form-City">City</label>
                  <input type="text" class="form-control" id="f-c-form-City" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="f-c-form-Post">PostCode</label>
                  <input type="number" class="form-control" id="f-c-form-Post" required>
                </div>
              </div>
              <div class="form-group">
                <label for="f-c-form-contact">Contact Phone</label>
                <input type="text" class="form-control" id="f-c-form-contact" required>
              </div>
              <div class="form-group">
                <label for="f-c-form-email">E-mail</label>
                <input type="email" class="form-control" id="f-c-form-email" required>
              </div>
              <div class="form-group">
                <label for="f-c-form-idea">Lets talk about your idea</label>
                <input type="text" class="form-control" id="f-c-form-idea" required>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="f-c-form-terms" required>
                <label class="form-check-label" for="f-c-form-terms">Apply to terms and conditions of airshine travels</label>
              </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
          </div>
          <br>
          <div class="row">
                <div class="col">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-phone.png') }}" alt="Phone">
                  </div>
                  <div class="content2">
                    <div class="title">Phone</div>
                    <div class="value">111 111 111</div>
                  </div>
                </div>
                <div class="col">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-mail.png') }}" alt="E-Mail">
                  </div>
                  <div class="content2">
                    <div class="title">E-Mail</div>
                    <div class="value">info@company.com</div>
                  </div>
                </div>
                <div class="col">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='image/reach-mail.png') }}" alt="Helpdesk">
                  </div>
                  <div class="content2">
                    <div class="title">Helpdesk</div>
                    <div class="value">https://helpdesk.com</div>
                  </div>
                </div>
              </div>
        </div>

      </div>
      <div class="col-md-6 p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.130823742066!2d78.68833221471863!3d10.801290892304683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf510a408cb71%3A0x39e27f5a3c6f7320!2sTrichy%20Airshine%20Tours%20And%20Travels%20(P)%20Ltd.%2C!5e0!3m2!1sen!2sin!4v1679975313886!5m2!1sen!2sin" class="w-100 h-100" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>

{% include 'company/faqbase.html' %}
{% endblock %}



<script>
  $(document).ready(function() {
    $('#scrollLeftBtn').click(function() {
      $('#scrollRow').animate({scrollLeft: '-=200'}, 400);
    });

    $('#scrollRightBtn').click(function() {
      $('#scrollRow').animate({scrollLeft: '+=200'}, 400);
    });
  });
</script>