


<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Airshine Tours and Travels{% endblock %}

{% block content %}


<div class="container mt-5 about-us-section">
    <div class="content-box">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Our Services</h1>
            <p class="lead">We strive to give a hassle-free experience for our customers and believe in providing excellent professional client service with high ethical standards.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Inbound and Outbound Tours</h2>
            <p>Time to cross out your dream destinations off your bucket list!</p>
            <ul>
                <li>International Tours</li>
                <li>Domestic Tours</li>
                <li>Local Tours</li>
            </ul>
            <p>Book Domestic & International flights that best suit your interest. Bag exciting offers and deals. We also cover other modes of transportation like Flights, Ships, Trains, Busses, etc.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Tour Packages</h2>
            <ul>
                <li>Student Tour Packages</li>
                <li>Family Tour Packages</li>
                <li>Group Tour Packages</li>
                <li>Pilgrimage Tour Packages</li>
                <li>Honeymoon Tour Packages</li>
            </ul>
            <p>Don't worry about numbers. Airshine has successfully orchestrated trips with groups of more than 200 passengers. Get onboard and have a delightful journey.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Hospitality Services</h2>
            <ul>
                <li>Hotel Bookings</li>
                <li>Meal Deals</li>
                <li>Activities Planning</li>
                <li>Tour Guides</li>
            </ul>
            <p>Yummy food, cozy beds, a stunning pool, and adrenaline-pumping activities. Sounds good? You can get all that and more using our hospitality services. We strive to provide the best overall experience through our hospitality services.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Professional Services</h2>
            <ul>
                <li>Travel Consultation</li>
                <li>Travel Planning</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>Ancillary Services</h2>
            <p>You don't have to worry anymore about the verification of your travel documents & travel insurance. We can take care of that through our ancillary services and ensure you have a hassle-free trip.</p>
            <ul>
                <li>Passports New Issue/Renewal</li>
            </ul>
            <p>You don't have a passport? Are you worried it is too late to get one for the upcoming trip? We can help you get your passport issued swiftly. You don't need to worry about any legal issues delaying the process.</p>
            <p>We are just a query away from getting your issues resolved. Please do inbox us at <a href="mailto:email@example.com">email@example.com</a> or WhatsApp to voice away your concerns!</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>MICE</h2>
            <p><strong>M</strong> – Meeting</p>
            <p><strong>I</strong> – Incentives</p>
            <p><strong>C</strong> – Conferences/Convention</p>
            <p><strong>E</strong> – Education/Exhibition</p>
            <p>Travel arrangements will be made by our office for all kinds of MICE Tourism. Air Tickets, Visa Process, Airport Transfers and Hotel Bookings will be made as per the budget of the MICE traveler.</p>
        </div>
    </div>
    </div>
</div>

{% endblock %}